div#logo{
    background-color: black;
    color: white;
    font: 50px Arial;
    text-align: center;
    text-shadow: silver 4px 4px 8px;
    border: double silver;
    letter-spacing: 15px;
}