div#logo{
    background-color: red;
    color: black;
    font: 80px Arial;
    text-align: center;
    text-shadow: white 4px 4px 8px;
    border: double silver;
    letter-spacing: 20px;
}
